<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
  </nav>

  <noscript>
    <img 
      src="https://<REPLACE-ME>/v1/a.png?clientId=<REPLACE-ME>&sessionKey=<REPLACE-ME>&flow=<REPLACE-ME>&ns=1" 
      style="display: none" />
  </noscript>
  