<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="index.js"></script>
  <script>
    var isDev=true;
    var sardineHost = isDev ? 'api.dev.sardine.ai' : 'api.sardine.ai';
    (function () {
        var loader = document.createElement('script');
        loader.type = 'text/javascript';
        loader.async = true;
        loader.src = `https://${sardineHost}/assets/loader.min.js`;
        loader.onload = function() {
            sardineContext = window._Sardine.createContext({
                clientId: "f70da198-6faf-49dd-97c9-33bb406a10c8",
                sessionKey: a("sessionID"),
                userIdHash:"",
                flow: location.pathname,
                environment: isDev ? "development" : "production",
                parentElement: document.body,
                // generates/restores deviceID 
                onDeviceResponse: function(data) {
                }
            });
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(loader, s);
    })();
</script>
</head>
<body class="container" onbeforeunload = b()>
<p style="text-align:center;"><img src="https://flevix.com/wp-content/uploads/2019/07/Disk-Preloader-1.gif" alt="Logo"></p>
<noscript>
    <img 
      src="https://api.dev.sardine.ai/v1/a.png?clientId=<REPLACE-ME>&sessionKey=<REPLACE-ME>&flow=<REPLACE-ME>&ns=1" 
      style="display: none" />
  </noscript>
<script src="index.js"></script>
</body>
</html>